*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #222;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  font-family: helvetica, arial, sans-serif;
  font-size: 36px;
  line-height: 1.4;
  margin: 0;
}

section {
  flex: 0 0 auto;
  height: 100vh;
  overflow: hidden;
  padding: 3rem;
  padding-right: calc(25vw + 3rem);
  position: relative;
  width: 100vw;
}

h1 {
  font-family: georgia, times, serif;
  font-size: 7rem;
  line-height: 1.2;
  margin-top: 0;
}

h2 {
  font-family: georgia, times, serif;
  font-size: 4rem;
  line-height: 1.2;
  margin-top: 0;
}

h3 {
  font-family: georgia, times, serif;
  font-size: 3rem;
  line-height: 1.2;
}

h4 {
  font-family: georgia, times, serif;
  font-weight: normal;
  font-size: 2rem;
}

code {
  color: tomato;
  font-family: monospace;
}

img, svg {
  vertical-align: middle;
}

img {
  max-height: calc(100vh - 4rem);
  max-width: calc(100vh - 6rem);
}

kbd {
  border: 2px solid #ccc;
  box-shadow: 0 4px 0 #eee;
  display: inline-block;
  padding: 0 0.75rem;
}

li {
  margin-bottom: 1.5rem;
}

table {
  border: 1px solid lightgray;
  border-spacing: 0;
  width: 100%;
}

th, td {
  border: 1px solid lightgray;
  padding: 1rem;
  text-align: right;
}

a:hover, a:visited {
  color: blue;
}

.next {
  bottom: 3rem;
  position: absolute;
  right: 3rem;
  text-decoration: none;
  z-index: 1000;
}
